<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chef Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    
    {{!-- <script src="main.js"></script> --}}

    <!-- Main Stylesheet File -->
  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  {{!-- <link href="/styles/bootstrap-style.css" rel="stylesheet"> --}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--Date and time-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
<link href="/styles/bootstrap-style.css" rel="stylesheet">

</head>
<body>
	<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#" class="scrollto" id="loginpagetitle">Secret Supper Club</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
        <div class="menu-active" id="loginnavbar" align="right">{{> auth/auth-block}}</div>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
	
<br>
<br>
<br>
<div class="card">
  <img src={{image}} alt="John" style="width:100%">
  <h1>{{firstname}} {{lastname}}</h1>
  <p class="title">{{email}}</p>
  <p>{{about}}</p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href={{twitterLink}}><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  {{!-- <p><button>Create Event</button></p> --}}

  <!-- Button trigger modal -->
<p><button type="button" class="btn btn-light" id="createeventbtn" data-toggle="modal" data-target="#exampleModalLong">
  Create Event
</button></p>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Details for Supper Club</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container">

    <form>
    <div class="form-group" align="left">
    <label for="eventInput">Event Name</label>
    <input type="text" class="form-control" id="eventInput" placeholder="Example input">
    </div>
    <div class="form-group" align="left">
    <label for="eventTextarea">Event Description</label>
    <textarea class="form-control" id="eventTextarea" rows="3"></textarea>
    </div>
    <div class="form-group" align="left">
    <label for="texarea">Event Photo</label>
    <input type="putImage" class="form-control" id="putImage" placeholder="Another input">
    </div>
    <div class="container">
    <div class="row">
        
            <div class="form-group" align="left">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="time"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
    <div class="form-group" align="left">
        <label for="menuFile">Upload Menu</label>
        <input type="file" class="form-control-file" id="menuFile">
    </div>
    <div class="form-group" align="left">
    <label for="guestInput">Number of Guests</label>
    <input type="text" class="form-control" id="guestInput" placeholder="">
    </div>
    <div class="form-group" align="left">
            <label for="selectprice">Set Price</label>
              <select id="selectprice" name="selectprice" class="form-control">
                <option value="25">$25</option>
                <option value="30">$30</option>
                <option value="40">$40</option>
                <option value="45">$45</option>
                <option value="50">$50</option>
                <option value="60">$60</option>
                <option value="75">$75</option>
                <option value="85">$85</option>
                <option value="100">$100</option>
                <option value="150">$150</option>
                <option value="175">$175</option>
                <option value="200">$200</option>
              </select>
            </div>
        

          <div class="form-group" align="left">
                <label for="rulesTextarea">Rules:</label>
                <textarea class="form-control" id="rulesTextarea" rows="3"></textarea>
              </div>
        
    <button type="submit" class="btn btn-light" id="submitstyle">Submit</button>  
        </form>
    </div>
      </div>
      <div class="modal-footer">
        <button id="closeBnt" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>

<!-- Waitlist trigger modal -->
  <p><button type="button" class="btn btn-light" id="viewlistbtn"  data-toggle="modal" data-target="#waitlistModal">View Waiting List</button></p>



<!-- Waitlist Modal -->
<div class="modal fade" id="waitlistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="waitlist-body">
      

    
      
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-success" data-dismiss="modal">Approve</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Ignore</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>  

<script>

  

  $("#submitstyle").on("click", function(event){
    console.log($("select option:selected").val)
    event.preventDefault();
    console.log("somestuff");
    var newEvent = {};
    newEvent.title = $("#eventInput").val().trim();
    newEvent.body = $("#eventTextarea").val().trim();
    newEvent.photolink = $("#putImage").val().trim();
    newEvent.date = $("#time").val().trim();
    newEvent.menulink = $("#menuFile").val().trim();
    newEvent.numberofGuests = $("#guestInput").val().trim();
    newEvent.priceRange = $("#selectprice").val().trim();
    newEvent.rules = $("#rulesTextarea").val().trim();

    console.log(newEvent);

    $.post("/api/posts", newEvent, function(req, res){
      console.log(res)
      if(res === "success"){
        alert("Created event!");
        $("#closeBnt").click();
      }
    }).then(
      console.log("it worked?")
    )
  })

  $("#viewlistbtn").on("click", function(event){
    console.log("ok");
    event.preventDefault();
   
   

  
    });

    function runWaitListQuery() {
      // Here we get the location of the root page.
      // We use this instead of explicitly saying the URL is localhost:3001 because the url will change when we deploy.
      var currentURL = window.location.origin;

    $.ajax({ url: currentURL + "/api/invites", method: "GET" })
        .then(function(tableData) {
        // Here we are logging the URL so we have access to it for troubleshooting
          console.log("------------------------------------");
          console.log("URL: " + currentURL + "/api/invites");
          console.log("------------------------------------");
          // Here we then log the NYTData to console, where it will show up as an object.
          console.log(tableData);
          console.log("------------------------------------");
          // Loop through and display each of the customers
          for (var i = 0; i < tableData.length; i++) {
          // Create the HTML Well (Section) and Add the table content for each reserved table
            var tableSection = $("<div>");
            tableSection.addClass("well");
            tableSection.attr("id", "tableWell-" + i + 1);
            $("#waitlist-body").append(tableSection);
            var tableNumber = i + 1;
            // Then display the remaining fields in the HTML (Section Name, Date, URL)
            $("#tableWell-" + i + 1).append("<h5><span class='label label-primary'>" + tableNumber + "</span> | " + tableData[i].firstname + " " + tableData[i].lastname +" | " + tableData[i].email + " | " + tableData[i].phonenumber + "</h5>" + "<br>");
          }
        });
    
    } 

runWaitListQuery();

  


</script>
</body>
</html>