{{#each posts}}
    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp post">
        <div class="posts-wrap" post-id={{postId}}>
            <figure>
                <img src={{photolink}} class="img-fluid" alt="Oop">
                <a href={{photolink}} data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details" data-toggle="modal" data-target={{concat "#modal" postId}}><i class="ion ion-android-open"></i></a>}}
            </figure>

            <div class="portfolio-info" >
                <h4>{{title}}</h4>
                <p>Request to Join</p>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id={{concat "modal" postId}} tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle" >{{title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{!-- show event info --}}
                        <div>
                            <P>Event Description: <br> {{body}}</P>
                            <p>Number of Guests: {{numberofGuests}}</p>  
                            <p>Price: {{priceRange}}</p>
                            <p>Note: <br>{{rules}}</p>
                        </div>
                        {{!-- show event images --}}
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                <img class="d-block img-responsive" src={{photolink}} alt="First slide">
                                </div>
                                <div class="carousel-item">
                                <img class="d-block img-responsive" src={{photolink}} alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                <img class="d-block img-responsive" src={{photolink}} alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    {{!-- close button --}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{/each}}

<button id="loadMore">More</button>
